@charset "utf-8";

/* reset */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body {width:100%; overflow-x:hidden;}
h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: inherit;}
a {color: inherit; text-decoration: none;}
img {vertical-align: middle; max-width:100%;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background:none;border:none}

@font-face {
  font-family: 'Aspekta';
  src: url('../font/Aspekta-Font/aspekta-main/fonts/webfonts/Aspekta-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aspekta';
  src: url('../font/Aspekta-Font/aspekta-main/fonts/webfonts/Aspekta-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 공통요소 - section txt-box */
body {font-family: 'Neue Haas Grotesk Display Pro',sans-serif; overflow-x: hidden; font-weight: 300; background: #f5f6fb;}
.text-box .tit {font-size: clamp(56px, 13vw, 250px); line-height: 1;}
.text-box .sub-tit {font-family: 'Pretendard',sans-serif; font-size:clamp(14px, 1vw, 16px)}

/* 공통요소 - section 화면 */
section {width: 100%; overflow: hidden;}
.inner {width: 95%; margin: 8vh auto; padding: 0 2vw; letter-spacing: -1px;}
.inner2 {width: 100%; padding: 200px 100px;}

/* 공통 btn */
/* dark-btn */
.dark-btn.a {display: inline-flex; align-items: center;justify-content: center; font-family: 'Pretendard', sans-serif; font-size: 20px; color: #F5F6FB; padding: 10px 12px 12px 30px; border-radius: 100px; font-weight: 500; border: 1px solid rgba(245, 246, 251,0.28); white-space: nowrap; background: rgba(255, 255, 255, 0.14); backdrop-filter: blur(6px)}
.dark-btn.a span {width: 44px; height: 44px; background: #5F5F61; border-radius: 50%; position: relative; margin-left: 16px;}
.dark-btn.a img {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

/* light-button-1920 */
.light-btn.a {background: rgba(9, 9, 9, 0.14); display: inline-flex; align-items: center;justify-content: center; font-family: 'Pretendard', sans-serif; font-size: 20px; color: #434343; padding: 10px 12px 12px 30px; border-radius: 100px; font-weight: 500;  white-space: nowrap; border: 1px solid rgba(255, 255, 255, 0.13); backdrop-filter: blur(6px)}
.light-btn.a span {width: 44px; height: 44px; background: #F5F6FB; border-radius: 50%; position: relative; margin-left: 16px;}
.light-btn.a img {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

/* upcoming */
.upcoming {width: 100%; height: auto; background: #f5f6fb; margin-bottom: 30vh; display: flex; justify-content: center;}
.upcoming .inner .text-box {display: flex; position: relative; margin-bottom: 150px; color: #0a0a0a; font-weight: 600;}
.upcoming .inner .text-box .sub-tit {color: #777777; position: absolute; right: clamp(265px, 19vw, 290px); bottom: 2vh; font-weight: 300;}

.upcoming .inner .upcoming-wrap {gap: 25px; display: grid; color: #0a0a0a; justify-content: center; align-items: stretch; grid-template-columns: 1fr 1.5fr;}
.upcoming .inner .upcoming-wrap .clip {overflow: hidden; border-radius: 30px; width: 100%; height: 100%;}
.upcoming .inner .upcoming-wrap .clip .left-human {width: 100%; aspect-ratio: 725 / 936; overflow: hidden; position: relative; height: 100%;}
.upcoming .inner .upcoming-wrap .clip .left-human img {width: 100%; height: 100%; object-fit: cover;object-position: center; transition: all 0.5s; inset: 0; position: absolute;}

.upcoming .inner .upcoming-wrap .upcoming-box .top-box {display: flex; gap: 25px; margin-bottom: 25px;}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .purpleclip {overflow: hidden; width: 100%; max-width: 474px; height: 89.5vw; max-height: 424px; min-height: 300px; border-radius: 20px;}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .purplebox {background: url(../img/pop-up-date.png) no-repeat center / cover; width: 100%; height: 100%; transition: all 0.5s;}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .purplebox .text-box {padding: clamp(24px, 4vw, 70px) 0 0 clamp(24px, 4vw, 70px);display: inline-block; color: #f5f6fb;}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .purplebox .text-box .time {font-size: clamp(14px, 1.2vw, 20px); margin-bottom: 10px; font-family: 'Pretendard', sans-serif;}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .purplebox .text-box .loca {font-size: clamp(28px, 3vw, 52px);}

.upcoming .inner .upcoming-wrap .upcoming-box .top-box .playbox {position: relative; overflow: hidden; width: 100%; max-width: 474px; height: 89.5vw; max-height: 424px; min-height: 300px; border-radius: 20px; }
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .playbox .youtube {width: 100%; height: 100%; transition: all 0.5s; object-fit: cover; object-position: center; }
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .playbox a {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 75px; height: 80px;}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .playbox a .playicon {width: 100%; height: 100%;}

.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box {width: 100%; max-width: 972px; height: auto; max-height: 481px; min-height: 320px; padding: clamp(20px, 3vw, 70px); background: #fff; border: 1px solid #d2d2d2; border-radius: 20px;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox1 {display: flex; justify-content: space-between; margin-bottom: 53px;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox1 img {width: clamp(72px, 12vw, 150px);}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox1 .pop-up {font-size: clamp(16px, 2vw, 26px); text-align: right; font-family: 'Pretendard', sans-serif;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox1 .pop-up .kor {font-weight: 400; margin-bottom: 16px;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox1 .pop-up .genre {font-weight: bold;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox2 {display: flex; justify-content: space-between; align-items: end;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox2 .tit {font-size: clamp(28px, 3vw, 52px); font-weight: 600;}

.upcoming .inner .upcoming-wrap .left-human img:hover {transform: scale(1.05); z-index: 10;}
.upcoming .inner .upcoming-wrap .top-box .purplebox:hover {transform: scale(1.05); z-index: 10;}
.upcoming .inner .upcoming-wrap .top-box .playbox .youtube:hover {transform: scale(1.05); z-index: 10;}


/* footer */
footer {width: 100%; text-align: right; height: auto; color: #0a0a0a;}
footer .inner {margin: 100px auto 0;}
footer .inner .top-box {display: flex; justify-content: right; gap: 200px; margin-bottom: 123px;}
footer .inner .top-box li p.tit {font-size: 20px; margin-bottom: 27px; font-weight: 600;}
footer .inner .top-box li p {font-size: 16px; font-family: 'Pretendard',sans-serif;}
footer .inner .bottom-box {text-transform: uppercase; margin-bottom: 92px;}
footer .inner .bottom-box .mail-box {font-size: clamp(32px,6vw,90px); margin-bottom: 77px; font-family: 'Cabinet Grotesk', sans-serif;}
footer .inner .bottom-box .name {margin-bottom: 83px; font-size: 345px; font-family: 'Aspekta', sans-serif; font-weight: 500; line-height: 1;}
footer .inner .bottom-box .name .one {font-weight: 400;}
footer .inner .bottom-box .topBtn {font-size: 30px; font-family: 'Pretendard',sans-serif; font-weight: 400; display: flex; align-items: center; justify-content: right;}
footer .inner .bottom-box .topBtn img {margin-left: 14px;}




























@media (max-width: 1400px){


/* light-button-1024 */
.light-btn.b {background: rgba(9, 9, 9, 0.14); display: inline-flex; align-items: center;justify-content: center; font-family: 'Pretendard', sans-serif; font-size: 20px; color: #434343; padding: 10px 10px 10px 25px; border-radius: 100px; font-weight: 500;  white-space: nowrap; border: 1px solid rgba(255, 255, 255, 0.13); backdrop-filter: blur(6px)}
.light-btn.b span {width: 40px; height: 40px; background: #F5F6FB; border-radius: 50%; position: relative; margin-left: 14px;}
.light-btn.b img {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}


}


@media (max-width: 768px){
.upcoming .inner .text-box {margin-bottom: 80px;}
.upcoming .inner .text-box .sub-tit {right: clamp(65px, 9vw, 290px)}
.upcoming .inner .upcoming-wrap {grid-template-columns: 1fr;gap: 20px;}
.upcoming .inner .upcoming-wrap .clip {order: 1;}
.upcoming .inner .upcoming-wrap .upcoming-box {order: 2;display: flex;flex-direction: column;gap: 20px;}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box {flex-direction: column; gap: 20px;}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .purpleclip {max-width: 100%; max-height:341px}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .playbox {max-width: 100%; max-height:341px}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box {margin-bottom: 0;}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .purplebox {padding: 40px 0 0 40px ;}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .purplebox .text-box {padding: 0;}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .purplebox .text-box .time {font-size: 20px;}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .purplebox .text-box .loca {font-size: 52px}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box {max-width: 100%; padding: 40px;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox1 img {width: 100px; height: 100px;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox1 .pop-up {font-size: 20px;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox2 .tit {font-size: 44px;}
}

@media (max-width: 600px){
.light-btn.c {background: rgba(9, 9, 9, 0.14); display: inline-flex; align-items: center;justify-content: center; font-family: 'Pretendard', sans-serif; font-size: 16px; color: #434343; padding: 8px 8px 8px 20px; border-radius: 100px; font-weight: 500; white-space: nowrap; border: 1px solid rgba(255, 255, 255, 0.13); backdrop-filter: blur(6px)}
.light-btn.c span {width: 36px; height: 36px; background: #F5F6FB; border-radius: 50%; position: relative; margin-left: 12px;}
.light-btn.c img {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

.upcoming .inner .text-box .sub-tit {right: clamp(10px, 0vw, 290px); bottom: 0}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .purplebox .text-box .time {font-size: 16px;}
.upcoming .inner .upcoming-wrap .upcoming-box .top-box .purplebox .text-box .loca {font-size: 44px}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox1 .pop-up {font-size: 16px;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox2 .tit {font-size: 32px;}

}


@media (max-width: 390px){
.upcoming .inner .text-box {display: block; margin-bottom: 50px;}
.upcoming .inner .text-box .sub-tit {position: static;}
.upcoming .inner .upcoming-wrap .upcoming-box { display: grid; grid-template-columns: 1fr; row-gap: 24px;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox1 {align-items: center;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox2 {display: block;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox2 .tit {font-size: 44px; margin-bottom: 20px;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box .inbox2 .light {justify-self: end;}
.upcoming .inner .upcoming-wrap .upcoming-box .bottom-box {padding: 28px;}

.upcoming .light-btn.a {display: inline-flex;align-items: center; gap: 8px;padding: clamp(8px, 1vw, 12px) clamp(14px, 1.5vw, 20px);font-size: clamp(14px, 1.2vw, 18px); border-radius: 999px;}
.light-btn.a span {width: 36px; height: 36px;}
.upcoming .light-btn.a span img {width: clamp(14px, 1.4vw, 18px);}




}